In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

np.random.seed(21)

In [2]:
# import choices_converted.csv as a pandas dataframe
choices_df = pd.read_csv('choices_converted.csv')
choices_df = choices_df.iloc[:, 1:]

choices_df.head()

,r1_choice,r2_choice,r3_choice,r4_choice,r5_choice,r6_choice,r7_choice,r8_choice,r9_choice,r10_choice,r11_choice,r12_choice,r13_choice,r14_choice,r15_choice,r16_choice,r17_choice,r18_choice,r19_choice,r20_choice
0,HH,MH,MM,HL,HL,MM,HL,LH,HL,LL,MM,HL,LH,LH,LM,MM,LM,LH,MM,LM
1,HH,MH,HL,LH,HL,HH,MH,MM,MM,HL,HH,MH,MM,MM,HL,HH,MH,MM,MM,MH
2,HH,MH,MM,LH,MH,HH,MH,MM,HL,HL,HH,HL,MM,LH,HL,HH,MH,MM,LH,MH
3,HH,HL,MM,MM,HL,HH,HL,HL,MM,HL,HH,MH,MM,LH,HL,HH,HL,MM,LH,HL
4,HH,MH,LH,LH,MH,HH,MH,MM,LH,MH,HH,MH,MM,LH,MH,HH,MH,MM,MM,MH

In [3]:
# get the first 5 columns of choices_df
baseline_choices_df = choices_df.iloc[:, :5]
baseline_choices_df.head()

  r1_choice r2_choice r3_choice r4_choice r5_choice
0        HH        MH        MM        HL        HL
1        HH        MH        HL        LH        HL
2        HH        MH        MM        LH        MH
3        HH        HL        MM        MM        HL
4        HH        MH        LH        LH        MH

In [4]:
# put all the columns into one column
baseline_choices_df = pd.melt(baseline_choices_df, value_vars=baseline_choices_df.columns)
baseline_choices_df

      variable value
0    r1_choice    HH
1    r1_choice    HH
2    r1_choice    HH
3    r1_choice    HH
4    r1_choice    HH
..         ...   ...
120  r5_choice    HL
121  r5_choice    MH
122  r5_choice    LM
123  r5_choice    HL
124  r5_choice    HL

[125 rows x 2 columns]

In [5]:
# add 3 columns between variable and value called 'c1' 'c2' 'c3'
baseline_choices_df['c1'] = " "
baseline_choices_df['c2'] = " "
baseline_choices_df['c3'] = " "
baseline_choices_df

      variable value c1 c2 c3
0    r1_choice    HH
1    r1_choice    HH
2    r1_choice    HH
3    r1_choice    HH
4    r1_choice    HH
..         ...   ... .. .. ..
120  r5_choice    HL
121  r5_choice    MH
122  r5_choice    LM
123  r5_choice    HL
124  r5_choice    HL

[125 rows x 5 columns]

In [6]:
# set all values for c1, c2, and c3 for variable 'r1_choice' to LL MM HH respectively
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r1_choice', 'c1'] = 'LL'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r1_choice', 'c2'] = 'MM'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r1_choice', 'c3'] = 'HH'

baseline_choices_df.loc[baseline_choices_df['variable'] == 'r2_choice', 'c1'] = 'HL'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r2_choice', 'c2'] = 'LM'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r2_choice', 'c3'] = 'MH'

baseline_choices_df.loc[baseline_choices_df['variable'] == 'r3_choice', 'c1'] = 'HL'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r3_choice', 'c2'] = 'LH'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r3_choice', 'c3'] = 'MM'

baseline_choices_df.loc[baseline_choices_df['variable'] == 'r4_choice', 'c1'] = 'HL'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r4_choice', 'c2'] = 'LH'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r4_choice', 'c3'] = 'MM'

baseline_choices_df.loc[baseline_choices_df['variable'] == 'r5_choice', 'c1'] = 'MH'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r5_choice', 'c2'] = 'LM'
baseline_choices_df.loc[baseline_choices_df['variable'] == 'r5_choice', 'c3'] = 'HL'

baseline_choices_df

      variable value  c1  c2  c3
0    r1_choice    HH  LL  MM  HH
1    r1_choice    HH  LL  MM  HH
2    r1_choice    HH  LL  MM  HH
3    r1_choice    HH  LL  MM  HH
4    r1_choice    HH  LL  MM  HH
..         ...   ...  ..  ..  ..
120  r5_choice    HL  MH  LM  HL
121  r5_choice    MH  MH  LM  HL
122  r5_choice    LM  MH  LM  HL
123  r5_choice    HL  MH  LM  HL
124  r5_choice    HL  MH  LM  HL

[125 rows x 5 columns]

In [7]:
X = baseline_choices_df[['c1', 'c2', 'c3']]
y = baseline_choices_df['value']

In [8]:
# one hot encode the X dataframe
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(y)

LabelEncoder()

In [9]:
label_encoder.transform(y)

array([0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 4, 4, 4, 1, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       1, 1, 4, 3, 4, 4, 5, 1, 5, 5, 2, 5, 2, 5, 5, 2, 5, 5, 1, 5, 5, 5,
       1, 5, 5, 5, 5, 5, 1, 2, 5, 1, 2, 2, 5, 2, 5, 2, 5, 2, 2, 2, 2, 2,
       5, 2, 2, 1, 2, 2, 5, 5, 5, 2, 2, 5, 1, 1, 4, 1, 4, 1, 4, 4, 4, 4,
       4, 4, 1, 4, 4, 4, 1, 4, 4, 1, 1, 4, 3, 1, 1])

In [10]:
print("Original labels:", label_encoder.classes_, "\n")

print("Mapping from nominal to numerical labels:")
print(dict(zip(label_encoder.classes_,label_encoder.transform(label_encoder.classes_))))

Original labels: ['HH' 'HL' 'LH' 'LM' 'MH' 'MM']

Mapping from nominal to numerical labels:
{'HH': 0, 'HL': 1, 'LH': 2, 'LM': 3, 'MH': 4, 'MM': 5}

In [11]:
baseline_choices_df['value'] = label_encoder.transform(y)

In [12]:
baseline_choices_df.tail()

      variable  value  c1  c2  c3
120  r5_choice      1  MH  LM  HL
121  r5_choice      4  MH  LM  HL
122  r5_choice      3  MH  LM  HL
123  r5_choice      1  MH  LM  HL
124  r5_choice      1  MH  LM  HL

In [13]:
y = baseline_choices_df['value']
X = baseline_choices_df[['c1', 'c2', 'c3']]

In [14]:
print("X shape: ", X.shape)
print("y shape: ", y.shape)

X shape:  (125, 3)
y shape:  (125,)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=21)

In [16]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(87, 3)
(38, 3)
(87,)
(38,)

In [17]:
from sklearn.naive_bayes import GaussianNB
baseline_nb = GaussianNB()
baseline_nb.fit(X_train, y_train)

ValueError: could not convert string to float: 'LL'

In [ ]:
X_train.head()

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
predictions_train = dtc.predict(X_train)

In [ ]:
predictions_train

In [ ]:
def compute_accuracy(predictions, actual):
    return (np.sum(predictions == actual) / len(actual)) * 100

In [ ]:
print("Training accuracy: ", compute_accuracy(y_train, predictions_train),"%")

In [ ]:
predictions = dtc.predict(X_test)

In [ ]:
print("Testing accuracy: ", compute_accuracy(y_test, predictions),"%")

In [ ]:
# remove the first column from the dataframe
choices_df = choices_df.iloc[:, 1:]

# for all columns in the dataframe, remove the last character of each record
rating_df = choices_df.apply(lambda x: x.str[:-1])
rating_df.head()

In [ ]:
# for all columns in choices_df, remove the first character of each record
num_sold_df = choices_df.apply(lambda x: x.str[1:])
num_sold_df

In [ ]:
# import the times.csv file as a pandas dataframe
times_df = pd.read_csv('times.csv')
# remove the first column from the dataframe
times_df = times_df.iloc[:, 1:]
times_df.head()

In [ ]:
# import the likert.csv file as a pandas dataframe
likert_df = pd.read_csv('likert.csv')
# remove the first column from the dataframe
likert_df = likert_df.iloc[:, 1:]
likert_df.head()

In [ ]:
# get the first 5 columns of the rating_df dataframe
baseline_rating_df = rating_df.iloc[:, :5]
baseline_rating_df.head()

In [ ]:
# get the first 5 columns of the num_sold_df dataframe
baseline_num_sold_df = num_sold_df.iloc[:, :5]
baseline_num_sold_df.head()

In [ ]:
# get the first 5 columns of the times_df dataframe
baseline_times_df = times_df.iloc[:, :5]
baseline_times_df.head()